.activity-avatar {
    width: 50;
    height: 50;
}

.activity-user {
    color: #FFFFFF;
    font-size: 12;
    vertical-align: center;
}

.activity-listViewItem{
    height: 200;
}

.activity-title{
    font-size: 20;
    font-weight: bold;
}

.activity-description{
    font-style: italic;
}

.activity-picture{
    width: 150;
    height: 110;
    margin: 0;
    padding: 0;
}

.activity-price {
    color: green;
    font-size: 12;
}

.activity-hot{
    color: red;
}

.activity-cold{
    color: blue;
}

.comment-text {
    font-size: 13;
}

.comment-name {
    color: #E91E63;
    font-size: 13;
}