.page {
	background-color: white;
	font-size: 17;
}

.button {
	border-width: 1;
	border-style: solid;
	border-color: #034793;
	border-radius: 2;
	margin: 10;
	padding: 10;
}

.text-field {
	background-color: #FAFAFA;
	border-width: 1;
	border-style: solid;
	border-color: #C7C7CC;
	border-radius: 2;
	margin: 10;
	padding: 10;
}

.title {
    font-size: 20;
    horizontal-align: left;
    font-weight: bold;
    margin: 10;
}

.link {
	border-width: 0;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}


.form-item {
    padding: 0 12;
}

.form-label {
    margin-left: 12;
}

.form-field {
    margin: 6 12 6 0;
}

.form-buttons {
    padding: 0 6;
}

.form-link {
    horizontal-align: center;
    font-size: 18;
    margin-top: 10;
}

.form-item-border {
    background-color: #ccc;
    vertical-align: bottom;
    height: 1;
}

.ios-form-button {
    margin: 12 6;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

.padded-label {
    padding: 0 12;
}

.padded-label-stack {
    padding: 12;
}

.title-label {
    padding: 0 0 12 0;
    font-weight: bold;
}

.about-image {
    horizontal-align: left;
    vertical-align: top;
    height: 100;
    margin-right: 10;
}

.list-item {
    padding: 10 16;
}

.list-icon {
    width: 36;
    text-align: center;
}